.idea/
ch02/.gradle/
ch02/gradle/
ch02/build/
ch02/recipe-2-1-1/gradle/
ch02/recipe-2-2/gradle/
ch02/recipe-2-1-2/gradle/
ch02/recipe-2-3/gradle/
ch02/recipe2-3-2/gradle/
ch02/recipe2-3-3/gradle/
ch02/recipe-2-3-4/gradle/
ch02/recipe-2-3-5/gradle/
ch02/recipe-2-3-6/gradle/
ch02/recipe-2-3-7/gradle/
ch02/recipe-2-3-8/gradle/
ch02/recipe-2-3-9/gradle/
ch02/recipe-2-4-1/gradle/
