<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<!--
    watch는 값이 바뀔때마다 매번 함수가 호출

    computed를 사용하면 data의 sum은 삭제해야함
-->

<body>
    <div id="example">
        x : <input type="text" v-model="x" /><br /> y : <input type="text" v-model="y" /><br /> 덧셈 결과 : {{ sum }}
    </div>
    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                x: 0,
                y: 0,
                // sum: 0
            },
            // watch: {
            //     x: function(v) {
            //         console.log("## x 변경 ##");
            //         var result = Number(v) + Number(this.y);
            //         if (isNaN(result)) {
            //             this.sum = 0;
            //         } else {
            //             this.sum = result;
            //         }
            //     },
            //     y: function(v) {
            //         console.log("## y 변경 ##");
            //         this.y = v;
            //         var result = Number(this.x) + Number(v);
            //         if (isNaN(result)) {
            //             this.sum = 0;
            //         } else {
            //             this.sum = result;
            //         }
            //     }
            // },
            computed: {
                sum: function() {
                    var result = Number(this.x) + Number(this.y);
                    if (isNaN(result)) {
                        return 0;
                    } else {
                        return result;
                    }
                }
            }
        });
    </script>
</body>

</html>